<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
    <title>导入用户</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
    <script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
    <script src="__PUBLIC__/Common/Layer/layer.js"></script>
    <script>
       $(document).ready(function(){
           $("#sub").click(function(){
               layer.load(1, {
                   shade: [0.1,'#fff'] //0.1透明度的白色背景
               });
           });
       });
        function subm(){
            var file=$("#file").val();
            if(file==''){
                alert("请选择要导入的文件");
                $('#layui-layer1').css('display','none');
                $('#layui-layer-shade1').css('display','none');

                return false;
            }
            else {
                return true;
            }
        }
    </script>
</head>
<body>
<form action="__URL__/addagent_excel_ok1" method="post" enctype="multipart/form-data" onsubmit="return subm()">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="details">
        <tbody>
        <tr>
            <td><input type="file" name="file" id="file"></td>
            <td><input type="submit" name="sub" value="导入" id="sub"></td>
        </tr>
        <tr>
            <td> <div>请选择excel2007表格数据</div></td>
        </tr>
        <tr>
            <td><a href="{:U('NewMember/exporteError')}" style="color: #0000FF"  >下载错误数据</a></td>
        </tr>
        </tbody>
        </table>
</form>
</body>
</html>