<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>经纪人管理</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer/layer.js"></script>
    <script src="__PUBLIC__/Common/My97Date/WdatePicker.js"></script>
<script>
//添加用户
function add(){
    parent.layer.open({
        type: 2,
        shadeClose: true,
        shade: 0.5,
        area: ['850px', '840px'],
        title: '添加用户',
        content: '{:U("Member/agent_add")}'
    });
}
//导入excel用户
function addagent_excel(){
    parent.layer.open({
        type: 2,
        shadeClose: true,
        shade: 0.5,
        area: ['350px', '500'],
        title: '导入用户',
        content: '{:U("Member/addagent_excel")}'
    });
}
//导出excel用户
//离职
function out(id){
    parent.layer.open({
        type: 2,
        shadeClose: true,
        shade: 0.5,
        area: ['500px', '500px'],
        title: '离职',
        content: '{:U("Member/agent_out")}?id='+id
    });
}

//编辑用户
function edit(id){
    parent.layer.open({
        type: 2,
        shadeClose: true,
        shade: 0.5,
        area: ['850px', '840px'],
        title: '编辑账号信息',
        content: '{:U("Member/agent_edit")}?id='+id
    });
}

//删除用户
function del(id){
    $("#del"+id+" td").css('background','#CBDFF2');
    parent.layer.confirm('真的要删除吗？', {
        btn: ['确认','取消'], //按钮
        shade: 0.5 //显示遮罩
    }, function(){
        $.post("{:U('Member/agent_del')}", { "id": id},function(data){
            if(data == 1){
                parent.layer.msg('删除成功', { icon: 1, time: 1000 }, function(){
                    $("#del"+id).remove();
                });
            }else{
                parent.layer.msg('删除失败', {icon: 2, time: 2000 });
            }
        }, "json");
    },function(){
        $("#del"+id+" td").css('border-top','0');
        $("#del"+id+" td").css('border-bottom','1px solid #EFEFEF');
    });
}
function subform(i) {

    var theform=document.form_do;
    theform.action=i;
    theform.submit();
}


function selectall(whosform){
    for(var i=0;i<whosform.elements.length;i++){
        var box = whosform.elements[i];
        if (box.name != 'chkall')
            box.checked = whosform.chkall.checked;
    }
}

</script>
    <script>
        //弹出搜索框

                $(document).ready(function(){
                    //排序
                    $("#orderdown").click(function(){
                        $("#order").val('groupname asc');
                        $("form.formSo").submit();

                    });
                    $("#orderup").click(function(){
                        $("#order").val('groupname desc');
                        $("form.formSo").submit();

                    });
                    $("#departmentdown").click(function(){
                        $("#order").val('department asc');
                        $("form.formSo").submit();

                    });
                    $("#departmentup").click(function(){
                        $("#order").val('department desc');
                        $("form.formSo").submit();

                    });

                    $("#group").click(function(){
                       $("#shai_x").show();
                        });
    });

        function selectall(whosform){
            for(var i=0;i<whosform.elements.length;i++){
                var box = whosform.elements[i];
                if (box.name != 'chkall')
                    box.checked = whosform.chkall.checked;
            }
        }

</script>

</head>
<body>


<div class="nav">
    <div class="nav_title">
        <h4><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><span class="nav_a">经纪人列表</span></h4>

    </div>
    <div class="nav_title" id="shai_x">
    <form name="form1" class="formSo" method="get" action="{:U('Member/agent_list')}">
        <input name="keyword" type="hidden" id="keyword" value="" class="s26" />
        <input name="sx" type="hidden" id="sx" value="" class="s26" />
        <input name="order" type="hidden" id="order" value="" class="s26" />
        <input type="submit" id="tj" class="btn btn-danger btn-sm" value="">&nbsp;
    </form>
    </div>
    <div class="nav_title" id="paixu">
        <form name="form3" class="formPx" method="get" action="{:U('Member/agent_list')}">
            <input name="order" type="hidden" id="order" value="" class="s26" />


            <input type="submit" id="pxtj" class="btn btn-danger btn-sm" value="">&nbsp;
        </form>
    </div>
    <if condition=" $_SESSION['aid'] eq 1">
    <div class="nav_button">
        <a href="javascript:;" onclick="add();"><button class="button">+ 添加经纪人</button></a>
        <a href="javascript:;" onclick="addagent_excel();"><button class="button">+ 导入经纪人</button></a>
    </div>

    </if>
</div>


<div class="list">
      <table width="1800px" border="0" cellpadding="0" cellspacing="0" class="list_table">
          <form name="searchform" method="get" action="{:U('Member/agent_list')}">
              <select name="member">
                  <option value="">选择条件</option>
                  <option value="agentname" <if condition="I('member') eq 'agentname'">selected="selected"</if>>经纪人</option>
                  <option value="groupname" <if condition="I('member') eq 'groupname'">selected="selected"</if>>小组</option>
                  <option value="department" <if condition="I('member') eq 'department'">selected="selected"</if>>部门</option>
              </select>
              <input type="text" name="textsearcherkeywords" value="{:I('textsearcherkeywords')}" />
                <input name="sousuo" type="submit" value="搜索" class="imgbtn" />
          </form>
          <form action="__URL__/edit_mul" method="post" id="form2">
      <thead>
      <tr class="action">
          <td width="1%"><div align="center"><input  name="chkall" type="checkbox" id="chkall" onclick="selectall(this.form)"></div></td>
          <td width="1%" id="add1"><div align="center">ID</div></td>
          <td width="2%"><div align="center">工号</div></td>
          <td width="2%"><div align="center">经纪人姓名</div></td>
          <td width="1%"><div align="center">身份证号</div></td>
          <td width="1%"><div align="center">电话</div></td>
          <td width="3%"><div align="center">小组</div></td>
          <td width="1%"><div align="center">部门</div></td>
          <td width="4%"><div align="center">操作</div></td>
      </tr>
        </thead>
        <tbody>

        <foreach name="lists" item="vo">

            <!--<if condition="$vo.cong eq 1 or $vo.cong1 eq 1">-->
                <!--<tr id="del{$vo.id}" class="list" align="center" bgcolor="#ffe4c4">-->
                    <!--<else/>-->
                <!--<tr id="del{$vo.id}" class="list" align="center">-->
            <!--</if>-->

                <td>
                    <div align="center"><input type="checkbox" name="user_id[]" value="{$vo.id}"></div>
                </td>
                <td height="40" id="add">
                    <div align="center" id="id">{$vo.id}</div>
                </td>
               <td>
                <div align="center">{$vo.jobnumber}</div>
               </td>
                <td>
                    <div align="center">{$vo.agentname}</div>
                </td>
                <td>
                    <if condition="$vo.cong1 eq 1">
                        <div align="center" style="background-color:#FFF68F">{$vo.codeid}</div>
                        <else/>
                        <div align="center">{$vo.codeid}</div>
                    </if>
                </td>
                <td>
                    <div align="center">{$vo.tel}</a>
                    </div>
                </td>
                <td>
                    <div align="center">{$vo.groupname}</div>
                </td>
                <td>
                    <div align="center">{$vo.department}</div>
                </td>
                <td><div align="center">
                    <a class="a_button" href="javascript:;" onClick="out({$vo.id});">离职</a>
                <a class="a_button" href="javascript:;" onClick="edit({$vo.id});">编辑</a>
                <a class="a_button" href="javascript:;" onclick="del({$vo[id]})">删除</a></if>
            </div></td>
            </tr>
        </foreach>
        </tbody>
          </form>
  </table>
</div>

<!-- 分页 -->
<div class="page">
{$page}
</div>


</body>
</html>
